<% @page_title = "mattybrown.net | View raffle" %>

	
	<% @last_raffle.tickets.each do |i| %>
		<div id="container">
			<div class="raffle_ticket">
				<span class="ticket_side">TICKET</span>
				<div class="ticket_name"><%= i[0] %></div>
				<div class="heavy"><span style="font-weight:700;">#UID</span><span class="ticket_uid"><%= i[1] %></span></div>
				<div class="ticket_blurb">check your ticket at www.mattybrown.net</div>
				<div id="qr_code"><%= image_tag "qr_code.jpg" %></div>
			</div>
		</div>
	<% end %>