<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congratulations, <%= @user.name %></h1>
    <p>
      You have won a sweet prize!
    </p>
    <p>Thanks for supporting me in my efforts to get to Australia.<br />
	Matt Brown</p>
  </body>
</html>
